dist: trusty
sudo: required
language: bash
before_install:
- curl https://raw.githubusercontent.com/express42/otus-homeworks/2020-08/run.sh |
  bash
notifications:
  slack:
    rooms:
      secure: UbRcK+4BZACoBTXHEB1r4OdEYVMw03x4O5PiP8z4CIpIQ7pKfgDNnE1rGMOl7Bmbh81+58JN4Z41mDjdnBjCtWnKYvjb+X64kBGnUHqXxWhF9rzC2BtL1uVl0AA0YzwFbZSgNXGNmUFUUnBqE70wCL5k4jRf/dyYf+IjLpEVRJ3VDHVlUMLnU/m7ArDXqPBWRI6WjMS8FG3JBNCcNnQQL4krD3G7NBIssxj/jmqquWZUIEmwGWD047N6GPGiWEjMF8WwTYUNrxAhHQaTkY65IdXWg+a6IOMHc74N1s7xCMOYeXvz9yLL+s8vkUbJhLt+WGWbUgvvslPjgmkTCQVz05bX/6BnqebtBAc7SwWa3PQ9MMcqVi5aDZrLNveiCp1O1g96WkNVmmBEVfHZror0Qa1i1tHYU4tmAl6qjbnrW5vg3elAFHqt6fS68U1mfVxZpBmXiJ2xV6qU8f/bAsUsOr4DYSiODbfLKPQ8ItDRE0kbn6EKK0r3UfVSYtyHH2orPJH2w8FJVyr2v28ptm3ImzFH8G6CnrAGhGIT9tnu++aOIno27UhRFHgUPObO1XihyV37Xpijxv4/ZofoQ2DaWay6ssiMCN5BqYXQozmbGwM9SBtzE26H+dwKcz/dpTSBOP+mkxcEkUUyBDNgHeGc0WVGOfPr59UaFQRtDG1k
